.button {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 30px 0 30px;
  }
  
  .button a {
    color: #ffffff;
    text-decoration: none;
  }

.unsubscribe {
  background-color: #0f262e;
  border-color: #07141a;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0 30px 0 30px;
  margin: 20px 0 0;
}

.unsubscribe a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}