
@media only screen and (min-device-width: 601px) {
  .content {
    width: 600px !important;
  }

  .col425 {
    width: 425px!important;
  }
  .col380 {
    width: 380px!important;
  }
}

@media only screen and (max-width: 550px),
screen and (max-device-width: 550px) {
  body[yahoo] .buttonwrapper {
    background-color: transparent!important;
  }
  body[yahoo] .button a {
    background-color: #e05443;
    padding: 15px 15px 13px!important;
    display: block!important;
  }
  body[yahoo] .unsubscribe {
    display: block;
    margin-top: 20px;
    padding: 10px 50px;
    background: #2f3942;
    border-radius: 5px;
    text-decoration: none!important;
    font-weight: bold;
  }

  body[yahoo] .hide {
    display: none!important;
  }
} 