{{! Notification Block Params: type: (string) accepts 'info', 'success', 'warning', 'danger' class: (string) opional classes
you may want to apply such as 'align-center' text: (string) unescaped, the text you wish to display in the notice }}


<!-- START FOOTER   -->
<tr>
	<td class="footer" bgcolor="#44525f">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center" class="footercopy">
					L'équipe Phare vous remercie pour l'interet que vous portez à notre application N'hésitez pas à nous suivre sur yammer pour
					rester informé des dernières évolutions.
					<br/>
				</td>
			</tr>

			<td style="padding: 20px 0 0 0;">
				<table class="buttonwrapper" bgcolor="#e05443" width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="unsubscribe" height="45">
							<a href="#">Unsubscribe</a>
						</td>
					</tr>
				</table>
			</td>

			<!-- <tr>
									<td align="center" class="unsubscribe">
										<a href="#" class=>
											Unsubscribe
										</a>
									</td>
								</tr> -->
			<tr>
				<td align="center" style="padding: 20px 0 0 0;">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="37" style="text-align: center; padding: 0 10px 0 10px;">
								<a href="http://www.facebook.com/">
									<img src="https://image.flaticon.com/icons/svg/174/174848.svg" width="37" height="37" alt="Facebook" border="0" />
								</a>
							</td>
							<td width="37" style="text-align: center; padding: 0 10px 0 10px;">
								<a href="http://www.twitter.com/">
									<img src="https://image.flaticon.com/icons/svg/124/124021.svg" width="37" height="37" alt="Twitter" border="0" />
								</a>
							</td>
							<td width="37" style="text-align: center; padding: 0 10px 0 10px;">
								<a href="http://www.yammer.com">
									<img src="https://store-images.s-microsoft.com/image/apps.37113.9007199266246812.3852d2ad-f2c3-480f-94d4-05ea1fac5be6.2acf39c6-8073-48fb-a0e0-49e4e5c0be73?w=180&h=180&q=60"
									 width="37" height="37" alt="Yammer" border="0" />
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>