{{! Notification Block Params: type: (string) accepts 'info', 'success', 'warning', 'danger' class: (string) opional classes
you may want to apply such as 'align-center' text: (string) unescaped, the text you wish to display in the notice }}
<!-- START 3RD ROW -->
<tr>
	<td class="innerpadding borderbottom">
		{{package.text_card}}
	</td>
</tr>

<!-- END 3RD ROW   -->