{{! Notification Block Params: type: (string) accepts 'info', 'success', 'warning', 'danger' class: (string) opional classes
you may want to apply such as 'align-center' text: (string) unescaped, the text you wish to display in the notice }}


<!-- START 2ND ROW -->
<tr>
	<td class="innerpadding borderbottom">
		<img src="{{package.src_full_img}}" width="100%" border="0"
		 alt="{{package.alt_full_image}}" />
	</td>
</tr>

<!-- END 2ND ROW   -->